{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2조 Rainbow. 『신혼부부 임대주택 최적입지 선정 사이트』</title>

    <meta name="description" content="GARO is a real-estate template" />
    <meta name="author" content="Kimarotec" />
    <meta
      name="keyword"
      content="html5, css, bootstrap, property, real-estate theme , bootstrap template"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="hosrtcut icon" href="/static/img/icon/favi.ico" type="image/x-icon" />
    <link rel="icon" href="/static/img/icon/favi.ico" type="image/x-icon" />

    <!-- <link rel="stylesheet" href="/staticcss/normalize.css"> -->
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/fontello.css" />
    <link
      href="/static/fonts/icon-7-stroke/css/pe-icon-7-stroke.css"
      rel="stylesheet"
    />
    <link href="/static/fonts/icon-7-stroke/css/helper.css" rel="stylesheet" />
    <link href="/static/css/animate.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/icheck.min_all.css" />
    <link rel="stylesheet" href="/static/css/price-range.css" />
    <link rel="stylesheet" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.css" />
    <link rel="stylesheet" href="/static/css/owl.transitions.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navigation"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/static/img/lovehouse.jpg" alt=""/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
          <div class="button navbar-right">
            <button
              class="navbar-btn nav-button wow bounceInRight login"
              data-wow-delay="0.45s"
            >
            <li class="nav-item">
              {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
              <a href="/logout/" class="nav-link">로그아웃</a>
              {% else %}
              <a href="/loginregister/" class="nav-link">로그인</a>
              {% endif %}
              
       </li>
            <!-- </button>
            <button
              class="navbar-btn nav-button wow fadeInRight"
              data-wow-delay="0.48s"
            >
            <li class="nav-item">
              {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
              <a href="{% url 'account_signup' %}" class="nav-link">회원가입</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="nav-link">회원가입</a>
              {% endif %}
       </li>
            </button> -->
          </div>
          
          <ul class="main-nav nav navbar-nav navbar-right">
            {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              {% if user.is_staff == 1 %}
                <a><span style="color:#fdc600;">[관리자] </span> {{user.username}}님 안녕하세요</a>
              {% else %}
              <a>{{user.username}}님 안녕하세요</a>
              {% endif %}
            </li>
            {% else %}
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              <a></a>
            </li>
            {% endif %}
            <li class="wow fadeInDown" data-wow-delay="0.2s">
              <a class="" href="/selection/">입지선정</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.3s">
              <a class="" href="/news/5">뉴스</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.3s">
              <a class="" href="/blog/">게시판</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              <a href="/contact/">연락망</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- End of nav bar -->

    <div class="slider-area">
      <div class="slider">
        <div id="bg-slider" class="owl-carousel owl-theme">
          <div class="item">
            <img src="/static/img/slide1/slider-image-1.jpg" alt="GTA V" />
          </div>
          <div class="item">
            <img src="/static/img/slide1/slider-image-2.jpg" alt="The Last of us"/>
          </div>
          <div class="item">
            <img src="/static/img/slide1/slider-image-4.jpg" alt="GTA V" />
          </div>
        </div>
      </div>
      <div class="slider-content">
        <div class="row">
          <div
            class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12"
          >
          
            <h1 style="color: white;"><b>서울 신혼부부 공공주택 검색</b></h1>
            <p style="color: white;"><b>< 서울 기존 신혼부부 임대주택, 서울 입지분석 결과 최적 선정지 검색 ></b></p>
            
            <div class="search-form wow pulse" data-wow-delay="0.8s" style="height: 80px;">

<!-------------------------------------------- 지역구 선택------------------------------------->
              <form name="selectForm" action="/" method="GET" class="col-sm-11" style="padding: 2px; " onsubmit="fn_search();"> 
                  <div class="form-group" style="float: left; width: 30%;">
                    <select
                      id="select_gu"
                      class="show-tick form-control"
                      data-live-search="true"
                      data-live-search-style="begins"
                      title="지역구 선택"
                      name="select_gu"
                      onchange="option1();"
                    >
                    <option value="none">선택</option>
                    {% for list in seoul%}
                    <option >{{list.address_gu}}</option>
                    {% endfor %}
                  </select>
                </div>
              <!-- </form> -->
<!-------------------------------------------- 임대 선택------------------------------------->
              <!-- <form name="kindForm" action="/" method="GET" class="col-sm-3" style="padding: 5px;"> -->
                <div class="form-group" style="float: left; width: 30%;">
                  <select id="select_kind" class="show-tick form-control" title= '임대유형' name="select_kind" onchange="option2();"><option value="none">선택</option></select>
                </div>
              <!-- </form> -->
<!-------------------------------------------- 아파트 선택------------------------------------->              
              <!-- <form action="" class="col-sm-4" style="padding: 5px;"> -->
                <div class="form-group" style="float: left; width: 30%;">
                  <select id="select_name" class="show-tick form-control" title= '아파트' name="select_name"><option value="none">선택</option></select>
                </div>
                
              <button class="btn search-btn" type="submit" >
                <i class="fa fa-search"></i>
              </button>
              <!-- <form action="" class="col-sm-1"> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main area-->
    <div class="body-area">
      <div class="footer" style="padding: 70px">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 wow fadeInRight animated">
              <div class="single-footer">
                <h2>공지사항</h2>
                  <div class="footer-title-line"></div>
                  <ul class="footer-menu">
                    {% for notice_all in notice.all %}
                    {% if forloop.counter < 6 %}
                    <li><a href="{%url 'notice' notice_all.id%}"><span style="color:#fdc600;">[공지사항]</span> {{notice_all.title|truncatewords:5}}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInRight animated">
              <div class="single-footer">
                <h2>뉴스</h2>
                <div class="footer-title-line"></div>
                <ul class="footer-blog">
                  {% for news in result %}
                  <li>
                    <div class="col-md-3 col-sm-4 col-xs-4 blg-thumb p0">
                        <a href="{{news.link}}"><img src="static/img/demo/small_news.jpg"></a>
                        <p class="blg-date">{{news.pubDate}}</p>
                    </div>
                    
                    <div class="col-md-8  col-sm-8 col-xs-8  blg-entry">
                      <h6><a href="{{news.link}}" target = "self">{{news.title|truncatewords:8}} </a></h6>
                      <p style="line-height: 17px; padding: 8px 2px">{{news.description|truncatewords:6}}</p>
                    </div>
                  </li> 
                  <p id='blank'></p>
                  {% endfor%}
                </ul>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 wow fadeInRight animated">
              <div class="single-footer">
                <h2>게시판</h2>
                <div class="footer-title-line"></div>
                <ul class="footer-menu">
                  {% for haha in jemok.all %}
                  {% if forloop.counter < 6 %}
                  <li style="display: inline-block; width: 100%; text-align: justify;"><span style="color: #B3B3B3;">[{{haha.id}}] </span><a href="{%url 'detail' haha.id%}">{{haha.title|truncatewords:4}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- {% for blog in blogs.all %}
    {% endfor %} -->
    <div class="footer-area">
      <div class="footer">
        <div class="container">
          <div class="row">
            <h3>고려대학교 HRD 산학협력단 빅데이터 교육</h3>
            <p>
              Korea HRD. Sejong Big-Data. 『Kwag Unil, Kim do-young, Sim myeong-jin, Pyeon do-jun』
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class='footer-copy text-center'>
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <span>Korea-HRD:Rainbow, All rights reserved 2021  </span>
          </div>

          <div class="bottom-menu pull-right">
            <ul>
              <li><a class="wow fadeInUp animated" href="#" data-wow-delay="0.2s">위로가기</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </div>

    <script src="/static/js/modernizr-2.6.2.min.js"></script>
    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/bootstrap-hover-dropdown.js"></script>
    <script src="/static/js/easypiechart.min.js"></script>
    <script src="/static/js/jquery.easypiechart.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/wow.js"></script>
    <script src="/static/js/icheck.min.js"></script>
    <script src="/static/js/price-range.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
    
    function option1(){
          var select_gu = document.getElementById('select_gu').value;
            $.ajax({
                    type: "GET",
                    url: "/index_option2",
                    data : {'select_gu':select_gu,},                
                    datatype : 'json',
                    success : function(result){
                        $('#select_kind').html(result);
                    }
                })
        }

    function option2(){
        var select_gu = document.getElementById('select_gu').value;
        var select_kind = document.getElementById('select_kind').value;
          $.ajax({
                  type: "GET",
                  url: "/index_option3",
                  data : {'select_gu':select_gu,'select_kind':select_kind},                
                  datatype : 'json',
                  success : function(result){
                      $('#select_name').html(result);
                  }
          })
        }

      function fn_search() {
        var select_gu = $('#select_gu').val()
        var select_kind = $('#select_kind').val()
        var select_name = $('#select_name').val()

        function preventClick(e){
	        e.preventDefault()
        }

        if (select_gu == 'none'){
          swal("경고!",'지역구를 선택해주세요.');
          preventClick(event);
          return false;
        }
        else if(select_kind == 'none'){
          swal('경고!','임대유형을 선택해주세요.');
          preventClick(event);
          return false;
        }
        else if(select_name=='none'){
          swal("경고!","아파트명을 선택해주세요.");
          preventClick(event);
          return false;
        }
        else{
          document.selectForm.action = "search/";
          document.selectForm.submit();
          return true;
        }

      }
    </script>
  </body>

</html>
<!--test-->