{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <link rel="stylesheet" href="../../static/css/css.css" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>2조 Rainbow. 『신혼부부 임대주택 최적입지 선정 사이트』</title>

    <meta name="description" content="GARO is a real-estate template" />
    <meta name="author" content="Kimarotec" />
    <meta
      name="keyword"
      content="html5, css, bootstrap, property, real-estate theme , bootstrap template"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link
      rel="hosrtcut icon"
      href="/static/img/icon/favi.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="/static/img/icon/favi.ico" type="image/x-icon" />

    <!-- <link rel="stylesheet" href="/staticcss/normalize.css"> -->
    <link rel="stylesheet" href="/static/css/normalize.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/fontello.css" />
    <link
      href="/static/fonts/icon-7-stroke/css/pe-icon-7-stroke.css"
      rel="stylesheet"
    />
    <link href="/static/fonts/icon-7-stroke/css/helper.css" rel="stylesheet" />
    <link href="/static/css/animate.css" rel="stylesheet" media="screen" />
    <link rel="stylesheet" href="/static/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/icheck.min_all.css" />
    <link rel="stylesheet" href="/static/css/price-range.css" />
    <link rel="stylesheet" href="/static/css/owl.carousel.css" />
    <link rel="stylesheet" href="/static/css/owl.theme.css" />
    <link rel="stylesheet" href="/static/css/owl.transitions.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/responsive.css" />
  </head>
  <body>
    <div id="preloader">
      <div id="status">&nbsp;</div>
    </div>
    <!-- Body content -->

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navigation"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"
            ><img src="/static/img/lovehouse.jpg" alt=""
          /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse yamm" id="navigation">
          <div class="button navbar-right">
            <button
              class="navbar-btn nav-button wow bounceInRight login"
              data-wow-delay="0.45s"
            >
            <li class="nav-item">
              {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
              <a href="/logout/" class="nav-link">로그아웃</a>
              {% else %}
              <a href="/loginregister/" class="nav-link">로그인</a>
              {% endif %}

            </button>
          </div>
          <ul class="main-nav nav navbar-nav navbar-right">
            {% if user.is_authenticated %} {# 유저가 로그인 중이면 #}
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              {% if user.is_staff == 1 %}
                <a><span style="color:#fdc600;">[관리자] </span> {{user.username}}님 안녕하세요</a>
              {% else %}
              <a>{{user.username}}님 안녕하세요</a>
              {% endif %}
            </li>
            {% else %}
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              <a></a>
            </li>
            {% endif %}
            <li class="wow fadeInDown" data-wow-delay="0.2s">
              <a class="" href="/selection/">입지선정</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.3s">
              <a class="" href="/news/5">뉴스</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.3s">
              <a class="" href="/blog/">게시판</a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.5s">
              <a href="/contact/">연락망</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div class="board_wrap">
      <div class="board_view_wrap">
        <div class="board_view">
          <div class="title">{{notice_pk.title}}</div>
          <div class="info">
            <dl>
              <dt>번호</dt>
              <dd>{{notice_pk.id}}</dd>
            </dl>
            <dl>
              <dt>글쓴이</dt>
              <dd>{{notice_pk.name}}</dd>
            </dl>
            <dl>
              <dt>작성일</dt>
              <dd>{{notice_pk.date}}</dd>
            </dl>
            <dl>
              <dt>조회</dt>
              <dd>{{notice_pk.hit}}</dd>
            </dl>
          </div>
          <div class="cont">{{notice_pk.body}}</div>
        </div>
        <div class="bt_wrap">
          <a href="/">홈으로</a>
          <a href="/blog/">목록으로</a>
          {% if user.is_staff == 1 %}
            <a href="{%url 'notice_delete' notice_pk.id %}">삭제</a>
          {% endif %}
        </div>
      </div>
    </div>
<!-- ================================================================================= -->

    <div class="footer-area">
      <div class="footer">
        <div class="container">
          <div class="row">
            <h3>고려대학교 HRD 산학협력단 빅데이터 교육</h3>
            <p>
              Korea HRD. Sejong Big-Data. 『Kwag Unil, Kim do-young, Sim
              myeong-jin, Pyeon do-jun』
            </p>
          </div>
        </div>
      </div>
    </div>

    <script src="/static/js/modernizr-2.6.2.min.js"></script>

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script src="/static/js/bootstrap-hover-dropdown.js"></script>

    <script src="/static/js/easypiechart.min.js"></script>
    <script src="/static/js/jquery.easypiechart.min.js"></script>

    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/wow.js"></script>

    <script src="/static/js/icheck.min.js"></script>
    <script src="/static/js/price-range.js"></script>

    <script src="/static/js/main.js"></script>
  </body>
</html>
<!--test-->